
aiohttp==3.11.18
fastapi==0.115.14
livekit==1.0.11
livekit_api==1.0.2
livekit_protocol==1.0.2
numpy==2.3.1
pydantic==2.11.7
python-dotenv==1.1.1
sounddevice==0.5.1
uvicorn==0.35.0
livekit-agents[openai]~=1.0
livekit-agents[deepgram]~=1.0
livekit-agents[silero]~=1.0
livekit-agents[groq]~=1.0
livekit-agents[elevenlabs]~=1.0
livekit-agents[google]~=1.0
livekit-plugins-cartesia
twilio
